<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:minWidth="25px"
    android:minHeight="25px">
    <LinearLayout
        android:orientation="horizontal"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/linearLayout1"
        android:weightSum="100"
        android:padding="5dp">
        <TextView
            android:text="Status"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:id="@+id/textView1"
            android:layout_weight="25" />
        <TextView
            android:text="--"
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:id="@+id/txtStatus"
            android:layout_weight="25" />
        <TextView
            android:text="Total"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:id="@+id/textView1"
            android:layout_weight="25" />
        <TextView
            android:text="--"
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:id="@+id/txtTotalResults"
            android:layout_weight="25" />
    </LinearLayout>
    <ListView
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:id="@+id/listView1"
        android:layout_below="@+id/linearLayout1"
        android:cacheColorHint="#fff5f5f5" />
    <ProgressBar
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:id="@+id/progressBar1"
        android:layout_centerInParent="true"
        android:indeterminate="true"
        android:indeterminateTint="#ff00bfff"
        android:indeterminateBehavior="cycle"
        android:progressTint="#ff00bfff"
        android:indeterminateTintMode="src_atop"
        android:minWidth="80dp"
        android:minHeight="80dp" />
    <TextView
        android:text="Carregando ..."
        android:textAppearance="?android:attr/textAppearanceSmall"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:id="@+id/txtCarregando"
        android:layout_below="@id/progressBar1"
        android:layout_centerHorizontal="true"
        android:textColor="#FF00BFFF"
        android:textSize="18dp" />
</RelativeLayout>